/* Layout (60%) */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Color (30%) */
:root {
  --primary-color: #3498db; /* Primary color (30%) */
  --secondary-color: #e74c3c; /* Secondary color (10%) */
  --accent-color: #27ae60; /* Accent color (10%) */
}


body {
  background-color: #F1F5F9;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Generic Styles End */

.wrapper {
  background-color: white;
  width: 1000px;
  height: 2000px;
  margin: 100px auto;
  border-radius: 10px;
  text-align: center;
  padding: 40px;
}
.link {
  display: block;
  text-decoration: none;
  margin-top: 15px;
  padding: 12px 16px;
  border-radius: 5px;
}

/* Typography (10%) */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3 {
  color: var(--primary-color);
}

button {
  background-color: var(--accent-color);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* Add this CSS to a separate .css file or include it within your TransactionList.js */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  
}

thead {
  background-color: #f5f5f5;
}

th, td {
  padding: 8px 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
}

tr:hover {
  background-color: #f2f2f2;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
